<div class="content allpropsul">
  <% @props.reverse.each do |prop| %>
    <ul class="table-view ">
      <li class="table-view-cell media">
        <a href=props/<%= prop.id %> >
          <%= image_tag prop.propimage.url, :class => "propindeximage media-object pull-right"  %>
          <h5><%= prop.title %></h5>
          <p class="proplistp"><%= prop.text %></p>
            <div>
              <% if logged_in? and current_user.admin %>
                <button class="btn " class="btn pull-left">
                  <%= link_to 'Edit', edit_prop_path(prop) %>
                </button>
                <button class="btn " class="btn pull-right">
                  <%= link_to 'Delete', prop_path(prop),
                                            method: :delete,
                                            data: ( 'Are you sure?' )
                                             %>
                </button>
            </div>
                <% end %></br >
        </a>
      </li>
    </ul>
  <% end %>
</div>
