<div class="content">

  <% if current_user.admin? %>
  <div class="bar bar-standard bar-header-secondary">

    <button class="btn btn-block edit">  <%= link_to 'Edit', edit_prop_path(@prop)  %></button>
    </div>
    <br>
    <br>
    <% end %>


    <div class="content-padded">
      <div style="text-align:center;">
        <img src="http://placehold.it/300x300">
      </div>
      <h5 style="font-size:19px;">
        <strong><%= @prop.title %></strong>
      </h5>

      <p class="p show">
        <%= @prop.text %>
      </p>


        <button class="btn btn-positive btn-block place">
          <% if logged_in? and !current_user.admin%>
              <%= link_to 'Place a Bet', new_prop_answer_path(@prop)  %>
            <% else %>
              <%= link_to 'Please log in to place a bet', login_path  %>
          <% end %>
        </button>
    </div>


    <!-- <br>
      <h3>Comments</h3>
        <div><%= render @prop.comments %></div>


        <h4>Add a Comment</h4>

        <%= render 'comments/form' %> -->
 </div>
