<p>
  <strong>What's the Propisition?</strong>
  <%= @prop.title %>
</p>

<p>
  <strong>What are the prop terms?</strong>
  <%= @prop.text %>
</p>

<p>
<%= @prop.choice %>
</p>



<h2>Comments</h2>
  <div><%= render @prop.comments %></div>


  <h2>Add a Comment</h2>

  <%= render 'comments/form' %>
  <%= link_to 'Edit', edit_prop_path(@prop)  %>
  <%= link_to 'Back to All Props', props_path  %>

  <li><%= link_to 'Assign an answer', new_prop_answer_path(@prop)  %></li>
