

  <h1 class="title"><%= link_to 'Props', root_path  %></h1>

  <% if logged_in? %>

  <button class="btn pull-left">
    <div><%= "Admin" if current_user.admin? %></div>

    <%= link_to 'log out', logout_path, method: :delete, url: root_path  %>

  </button>

    <% else %>
    <button class="btn pull-right">
      <a class="control-item"><%= link_to 'log in', login_path  %></a>
    </button>
    <button class="btn pull-left">
      <a class="control-item"><%= link_to 'Sign Up', new_user_path  %></a>
  </button>
  <% end %>
