<li><%= link_to 'Props Home', root_path  %></li>

<% if logged_in? %>
<li><%= link_to 'log out', user_session_destroy_path, method: :delete  %></li>
<div><%= "Admin" if current_user.admin? %></div>
<% else %>
<li><%= link_to 'log in', login_path  %></li>
<li><%= link_to 'Sign Up', new_user_path  %></li>

<% end %>
