<h1 class="title"><%= link_to 'Props', root_path  %></h1>

 <% if logged_in? %>
   <%= link_to(user_path(@user)) do %>
     <button class="btn pull-left">
       <div><%= current_user.username.capitalize %></div>
     </button>
   <% end %>
   <%= link_to(logout_path, method: :delete) do %>
     <button class="btn pull-right">
       Log Out
     </button>
   <% end %>

   <% else %>
     <%= link_to(login_path) do %>
       <button class="btn pull-left">
         Login
       </button>
     <% end %>
     <%= link_to(new_user_path) do %>
       <button class="btn pull-right">
         Sign Up
       </button>
     <% end %>
 <% end %>
