<div class="content">

<p id="notice"><%= notice %></p>

<p class="content-padded">
  <strong>Username:</strong>
  <%= @user.username.capitalize %>
</p>

<p class="content-padded">
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p class="content-padded">
  <strong>Score:</strong>
  <%= @user.score %>
</p>


<% if logged_in? and current_user.admin %>

<div class="card">
  <ul class="table-view">
    <li class="table-view-cell">
        <strong><%= link_to 'View All Props', controller: 'props'  %></strong>
    </li>

    <li class="table-view-cell">

        <strong><%= link_to 'Create a Prop', new_prop_path  %></strong>

    </li>

    <li class="table-view-cell">
        <strong><%= link_to 'View All Users', users_path  %></strong>

    </li>



  </ul>
</div>

<div class="card">
  <ul class="table-view">
    <li class="table-view-cell">
        <strong><%= link_to 'Edit My Profile', edit_user_path(@user) %>
</strong>
    </li>

</div>
<% end %>


<h4 class="content-padded"><%= @user.username.capitalize%>'s Props</h4>




<% @prop.each do |prop| %>

<ul class="table-view">
  <li class="table-view-cell media">
      <img class="media-object pull-left" src="http://placehold.it/42x42">
      <div class="media-body">
        <%= link_to prop.title, prop %>
        <p><%= prop.text %></p>
        </div>
  </li>
</ul>

<% end %>







</div>
