<div class="content">

  <div>
    <div style="text-align:center;">
      <h5 class="username"><%= @user.username %></h5>
      <img style="border-radius:50px;"src="http://placehold.it/82x82">
      <p style="color:#428bca;">score: <%= @user.score %></p>
    </div>
    <p>
      <button class="btn btn-block">Edit Profile</button>
    </p>
  </div>


<% if logged_in? and current_user.admin %>
  <div class="card">

    <ul class="table-view">
      <li class="table-view-cell">
          <%= link_to 'View All Bets', controller: 'props'  %>
      </li>
      <li class="table-view-cell">
          <%= link_to 'Create a Bet', new_prop_path  %>
      </li>
      <li class="table-view-cell">
          <%= link_to 'View All Users', users_path  %>
      </li>
    </ul>
  </div>

<% end %>




<% @prop.reverse.each do |prop| %>

<ul class="table-view ">
  <li class="table-view-cell media">
    <a href=/props/<%=prop.id%> >
      <img class="media-object pull-right" style="text-align: right; margin-right:-50px;" src="http://placehold.it/82x82">

      <h5><%= prop.title.capitalize %></h5>
      <p class="proplistp"><%= prop.text %></p>
      <div>

          <% if logged_in? and current_user.admin %>
            <button class="btn " class="btn pull-left">
              <%= link_to 'Edit', edit_prop_path(prop) %>
            </button>
            <button class="btn " class="btn pull-left">
              <%= link_to 'Delete', prop_path(prop),
                                        method: :delete,
                                        data: ( 'Are you sure?' )
                                         %>
            </button>
        </div>

            <% end %></br >
    </a>
  </li>
</ul>

<% end %>







</div>
