<div class="content allpropsul">

  <% a = 3 %>
  <% @props.reverse.each do |prop| %>
    <ul class="table-view ">
        <% if a % 3 == 0 %>
          <li class="main bet">
            <a href=props/<%=prop.id%> >
              <img src="http://placehold.it/275x275">
              <h5 style="font-size:19px; text-align:left;">
                <strong><%= prop.title %></strong>
              </h5>
            </a>
          </li>
        <% else %>
          <li class="table-view-cell media">
            <a href=props/<%=prop.id%> >
              <img class="media-object pull-right" style="text-align: right; margin-right:-50px;" src="http://placehold.it/82x82">
              <h5><%= prop.title.capitalize %></h5>
              <p class="proplistp"><%= prop.text %></p>
            </a>
          </li>
        <% end %>

    </ul>
  <% a += 1 %>
  <% end %>
</div>
