<div class="content">
<div class="content-padded">



<%= form_for :answer, url: prop_answers_path do |f| %>


  <%= f.radio_button(:choice, "A") %>
  <%= f.label(:choice, "The Correct Answer is A") %>
  <hr/>
  <%= f.radio_button(:choice, "B") %>
  <%= f.label(:choice, "The Correct Answer is B") %>

  <%= f.hidden_field :prop_id, :value => @prop.id %>

   <p>
     <button class="btn btn-positive btn-block"><%= f.submit %></button>

  </p>
<% end %>

</div>
</div>
