<%= form_for :answer, url: prop_answers_path do |f| %>


  <%= f.radio_button(:choice, "A") %>
  <%= f.label(:choice, "The Correct Answer is A") %>
  <%= f.radio_button(:choice, "B") %>
  <%= f.label(:choice, "The Correct Answer is B") %>

   <p>
    <%= f.submit %>
  </p>
<% end %>
